<div class="page-header">
  <h1>About</h1>
</div>

<article>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod quia ea tenetur obcaecati aspernatur placeat expedita, ipsum ad ullam dicta aliquam quo fugit aut cupiditate totam laborum sequi vitae quasi.</p>
</article>
